<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 i18n>
    Welcome to {{ title }}!
  </h1>
  <h1 i8n *ngIf="translationStatus">
    {{ translationStatus }}
  </h1>

  <h2 i18n>
    Base message:
  </h2>
  <span i18n>{{ messagebase }}</span>

  <h2 i18n>
    Translated message:
  </h2>
  <span *ngIf="messageTranslated" i18n>{{ messageTranslated }}</span>

  <h3 i18n="@@rollMessageTranslate">
    Receiving message from remote server.</h3>
    <h3>{{diceroll}}</h3>
    <h3>{{messagereceived}}</h3>
</div>

